rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/roles/$(request.auth.uid)).data.role == 'admin';
    }

    match /roles/{uid} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    match /users/{uid} {
      allow read: if isSignedIn() && (uid == request.auth.uid || isAdmin());
      allow write: if isAdmin() || (isSignedIn() && uid == request.auth.uid);
    }

    match /projects/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /patterns/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}

